extends layout

block content
  header
    h1= title
  p This tools allow you to clone all of the issues from the template project into the destination project. Issue links and GreenHopper Epic links are preserved in the transfer.
  p Only projects with a key beginning with TMPL will be considered templates.
  form(method="post", action="transfer")
    div
      label(for="template") Template Project: 
      select(id="template",name="template")
        each item in templates
          option(value=item.key)= item.name
    div
      label(for="desintation") Destination Project: 
      select(id="destination",name="destination")
        each item in projects
          option(value=item.key)= item.name
    div
      input(type="submit", value="Clone Template Issues")

